<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
 PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>15-441/641: Computer Networks (Fall 2017)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	    

<link href="extra.css" rel="stylesheet">
		
<meta http-equiv="Content-Script-Type" content="text/javascript" />
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9505544-5', 'cmu.edu');
  ga('send', 'pageview');

</script>
</head>
<body class=container style="padding-top: 50px;">



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">15-441/641: Computer Networks</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
<li><a href="index.html">Home</a></li>
<li><a href="syllabus.html">Syllabus</a></li>
<li><a href="assignments.html">Assignments</a></li>
<li><a href="exams.html">Exams</a></li>
<li><a href="announcements.html">Announcements <span class="badge">5</span></a></li>
    </ul>
	<a href="mailto:staff-441@cs.cmu.edu"><button type="button" class="btn btn-primary navbar-btn navbar-right"><span class="glyphicon glyphicon-envelope"></span> Email Staff</button></a>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="page-header">
  <h1>15-441/641: Computer Networks (Fall 2017)</h1>
</div>




<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<table>
	<tr><td style="padding-right: 15px;">8/31</td><td><strong>Project 1 Checkpoint 1</strong></td></tr>
	<tr><td></td><td>Project 1 is now available. Checkpoint 1 is due on Monday 9/11 midnight EST.</td></tr>
</table>
</div>
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<table>
	<tr><td style="padding-right: 15px;">8/27</td><td><strong>Piazza</strong></td></tr>
	<tr><td></td><td>The course now has a Piazza page for announcements and discussion. <a href="piazza.com/cmu/fall2017/15441641">Please sign up here</a> (even if you are on the waitlist).</td></tr>
</table>
</div>
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<table>
	<tr><td style="padding-right: 15px;">5/5</td><td><strong>Waiting lists</strong></td></tr>
	<tr><td></td><td>The registrar does not enforce prerequisites for graduate students, so all grad students are put on the waiting list until we can verify the prerequisites.  This process starts in mid-August.  Do not send the instructors pleading to be moved off the waiting list - it will not help your case.  Note that a long waiting list does not mean that the course is full.  Many students on the course do not meet the prerequisites or list the course as a backup.</td></tr>
</table>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Overview</h3>
  </div>
  <div class="panel-body">
	<p>
	15-441/641 is an introductory course in computer networks. The emphasis
	will be on the basic performance and engineering tradeoffs in the
	design and implementation of computer networks. To make the issues
	more concrete, the class includes several multi-week projects
	requiring significant design and implementation.
	</p>

	<p>
	The goal is for students to learn not only what computer networks are
	and how they work today, but also why they are designed the way they
	are and how they are likely to evolve in the future. We will draw
	examples primarily from the Internet. Topics to be covered include:
	congestion/flow/error control, routing, addressing, naming,
	multi-casting, switching, internetworking, and network
	security. Evaluation is based on homework assignments, the projects,
	one mid-term exam and one final.
	</p>

	<ul>
	<li>Instructors:  <a href="http://www.justinesherry.com/">Justine Sherry</a> and <a href="http://www.cs.cmu.edu/~prs/">Peter Steenkiste</a></li>
	<li>Lecture time:  Tue, Thu 1:30 - 2:50pm in MM 103</li>
	<li>Recitation: Fri 3:30 - 4:20pm in MM 103 </li>
	<li>Units:  12</li>
	</ul>
  </div>
</div>


<div class="panel panel-default"> <div class="panel-heading"> <h3
  class="panel-title">Prerequisites</h3> </div> <div
  class="panel-body"> 
<p> "Introduction to Computer Systems" is a
  prerequisite for the course.  It is offered under the following
  course numbers 15-213, 18-213, and 15-513.  Graduate students must
  get a B to satisfy the prerequisite.  Students who have taken the
  prerequisite course at CMU get priority when we move students from
  the waiting list.  </p> 
<p> Once student who meet the prerequisites
  have been cleared, we will consider students with a strong systems
  background. These decisions will be made in the first or second week
  of the semester.  Do not send mail to the instructors about this
  (e.g., explaining your background) - it will not help your case.
  </p> 
</div> </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Course Staff</h3>
  </div>
  <div class="panel-body">

	<h4>Instructors</h4>
	<table class="table">
	<tr><th>Name</th><th>Email</th><th>Office</th><th>Office Hours</th></tr>
	<tr>
	<td><a href="http://www.cs.cmu.edu/~prs">Justine Sherry</a></td>
	<td><span class="email">sherry@cs.cmu.edu</span></td>
	<td>GHC 9227</td>
	<td>Tuesday 3:00-4:30</td>
	</tr>
	<tr>
	<td><a href="http://www.cs.cmu.edu/~prs">Peter Steenkiste</a></td>
	<td><span class="email">prs AT cs DOT cmu DOT edu</span></td>
	<td>GHC 9107</td>
	<td>Wednesday noon-1:30</td>
	</tr>
	</table>

	<h4>Teaching Assistants</h4>
	<table class="table">
	<tr><th>Name</th><th>Email</th><th>Office</th><th>Office Hours</th></tr>
	<tr>
		<td>Viswesh Narayanan</td>
		<td><span class="email">visweshn AT andrew DOT cmu DOT edu</span></td>
		<td>Gates Teaching Commons</td>
		<td>Wednesday 3-4pm</td>
	</tr>
	<tr>
		<td>Kenneth Yang</td>
		<td><span class="email">canyang AT andrew DOT cmu DOT edu</span></td>
		<td>Gates Teaching Commons</td>
		<td>Friday 2-3:30pm</td>
        </tr>
	<tr>
		<td>Shelly Liu</td>
		<td><span class="email">xliu2 AT andrew DOT cmu DOT edu</span></td>
		<td>Gates Teaching Commons</td>
		<td>Thursday 10:40-12:10</td>
	</tr>
        <tr>
		<td>Yijia Cui</td>
		<td><span class="email">yijiac AT andrew DOT cmu DOT edu</span></td>
		<td>Gates Teaching Commons</td>
		<td>Monday 12:30-2:00pm</td>
	</tr>


	</table>

	<h4>Course Secretary</h4>
	<table class="table">
	<tr><th>Name</th><th>Email</th><th>Office</th></tr>
	<tr>
	<td>Angela Malloy</td>
	<td><span class="email">amalloy AT cs DOT cmu DOT edu</span></td>
	<td>GHC 9006</td>
	</tr>
	</table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Course Policies</h3>
  </div>
  <div class="panel-body">
	<h4>Collaboration</h4>

	<p>Students are encouraged to talk to each other, to the TAs, to the
	instructors, or to anyone else about any of the assignments. Any
	assistance, though, must be limited to discussion of the problem and
	sketching general approaches to a solution. Each student must write
	out his or her own solutions to the homework. </p>

	<p>The project handouts have more detailed information about collaboration when
	working on the projects, but, basically, each programming project group must
	write their own code and documentation for the programming projects done as a
	group.</p>

	<p>Consulting another student's or group's solution is prohibited and submitted
	solutions may not be copied from any source.  You may not supply work that you
	complete during 15-441 to other students in future instances of this course
	(just as you may not use work completed by students who've taken the course
	previously).  If you have any question about whether some activity would
	constitute cheating, please feel free to ask the instructors.</p>

	<h4>Academic Integrity</h4>
	The <a href="http://www.cmu.edu/policies/documents/Academic%20Integrity.htm">Carnegie
	Mellon University Policy on Integrity</a> applies.  We will strictly follow
	university policy on reporting cases of cheating.

	<h4>Late Policy</h4>

	<p>Take project and homework deadlines seriously. Our experience is that
	students often seriously underestimate the effort involved in programming
	assignments and projects. If we give you 4 weeks to complete an assignment,
	there is typically a reason.  In the interest of fairness, we have adopted
	the following late policy:</p>

	<ul>
	  <li>Each student is given a total of 2 &quot;free points&quot; to use during the
	  semester.</li>
	  <li>One free point can be used to extend the deadline of any homework
	  assignment or Project 1 by a single day with no penalty.</li>
	  <li>Two free points are needed to extend the deadline of Projects 2 or
	  3 by a single day with no penalty (you and your partner might each
	  contribute a point).</li>
	  <li>In the absence of free points, the deadline for any assignment
	      can be extended with a 15% penalty per day.</li>
	  <li>No deadline can be extended by more than two days, regardless
	   of how many free points you have saved up.  Assignments will <b>NOT</b>
	   be accepted 48 hours after the due date.</li>

	  <li><i>If you are ill</i>: If you have a medical note, you may turn
	  in your assignments late without using free points.  Please contact
	  the instructors to arrange a reasonable replacement turn-in time.
	  <b>You must notify us before the due-date</b>.
	  Without a medical note, you must use your free points as you would
	  with any other reason for being late.</li>

	</ul>

	<h4>Re-Grading</h4>

	<p>If you think we made a mistake in grading, please return the
	assignment with a note explaining your concern to the course secretary
	no later than two weeks after the day the assignment was returned. We
	will have the question re-graded by the person responsible for grading
	that question.</p>

	<h4>Partner Problems</h4>

	<p>Please try to avoid having partner problems.  Seriously!  Share your hopes
	before they turn into concerns, your concerns before they are problems, and
	your problems before they inflate into crises.</p>

	<p>In order for the course staff to help you and your partner work through
	issues, or for us to provide an appropriate response to serious partner
	problems, you <i>must</i> contact us <i>well before</i> the relevant due date!
	A special case to avoid is coming to us a day or two before a major deadline to
	tell us that your partner has been ill (etc.) for multiple weeks.  We, and thus
	you, have many more options if you inform us <i>while</i> a problem is
	developing, instead of after the fact.</p>

	<h4>Taking Care of Yourself</h4>


	<p> Do your best to maintain a healthy lifestyle this semester by eating well, exercising, avoiding drugs and alcohol, getting enough sleep and taking some time to relax. This will help you achieve your goals and cope with stress.  </p>


	<p> All of us benefit from support during times of struggle. You are not alone. There are many helpful resources available on campus and an important part of the college experience is learning how to ask for help. Asking for support sooner rather than later is often helpful. </p>


	<p> If you or anyone you know experiences any academic stress, difficult life events, or feelings like anxiety or depression, we strongly encourage you to seek support. Counseling and Psychological Services (CaPS) is here to help: call 412-268-2922 and visit their website at http://www.cmu.edu/counseling/. Consider reaching out to a friend, faculty or family member you trust for help getting connected to the support that can help.  </p>

  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <div class="panel-body">
	<ul>
	<li>
	<b>Piazza</b>: <br />
	  If you have a question about a project handout or a technical
	issue, there is an excellent chance that other students have
	the same question.  Please read the posts on Piazza to see if there
	has been traffic, and consider posting your questions there.</li>
	<li><b>Staff mailing list:</b> <span class="email">staff-441 at cs dot cmu dot edu</span><br />
	  If you have a question you believe is particular to your circumstances
	  and should not be posted in a public forum send mail to the staff list,
	  which reaches the instructors and TAs.  If your question involves a
	  confidential personal or academic-conduct issue, you should probably
	  contact one of the instructors in person or send mail to both.</li>

	<!--
	<li>
	<span class=todo>
	<a href="study_problems.html">Suggested study problems</a> - if you'd like
	a bit more structure to help guide your studying, we list some problems from
	the book that you might find helpful.
	</span>
	</li>
	-->

	</ul>
  </div>
</div>

<hr />
<p class="lastupdated">Last updated: 2017-10-16 21:22:49 -0400
 [<a href="http://validator.w3.org/check?uri=referer">validate xhtml</a>]</p>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
